/*====  RESET ============================ */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: rgb(76, 71, 71);
}

/*====  VARIABLES ============================ */
:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #;
  --footer: #000;
  --text-description: #9c9696;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  left: 60px;
  top: 39px;
}

nav {
  margin-left: 114px;
}

ul,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-right: 90px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--text);
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input {
  width: 220px;
  height: 45px;
  left: 1046px;

  border: none;

  background-color: var(--background);
  background: url(/assets/icon-search.svg) 10px;
  background-repeat: no-repeat;
  align-items: center;
}

.bag {
  width: 34px;
  height: 34px;
  left: 1346px;
  top: 47px;
  margin-left: 80px;
}

main {
  width: 980px;
  height: 914px;
  top: 0px;
  margin-left: 541px;

  background: #c4c4c4;
}

section {
  position: absolute;
  width: 357px;
  height: 533px;
  left: 111px;
  top: 190px;
}

section h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 21px;

  color: var(--text);
}

section small {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: var(--text-description);
}

section h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  margin-top: 21px;

  color: var(--text);
}

button {
  position: absolute;
  width: 274px;
  height: 90px;
  left: 111px;
  top: 633px;
  align-items: center;
  text-align: center;
  justify-content: center;

  text-transform: uppercase;
  cursor: pointer;

  background: var(--button);
  border: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}

button:hover {
  background-color: #f33e3e;
}

.ampliado {
  position: absolute;
  width: 597px;
  height: 510.82px;
  left: 697px;
  top: 174.68px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.galeria-1 {
  position: absolute;
  width: 269.51px;
  height: 182.8px;
  left: 558px;
  top: 690.58px;
}

.galeria-2 {
  position: absolute;
  width: 250px;
  height: 187.88px;
  left: 865px;
  top: 685.5px;
}

.galeria-3 {
  position: absolute;
  width: 270px;
  height: 182.8px;
  left: 1152px;
  top: 690.58px;
}

footer {
  width: 1440px;
  height: 166.33px;
  left: 0px;
  top: 914px;
}

.img-video {
  position: absolute;
  width: 250px;
  height: 166.33px;
  left: 0px;
  top: 914px;
}

.links {
  position: absolute;
  width: 97px;
  height: 10px;
  left: 297px;
  top: 984px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: var(--footer);
}

.container {
  position: absolute;
  width: 437px;
  height: 166px;
  left: 1074px;

  background: var(--footer);
}

.container a {
  position: absolute;
  width: 205px;
  height: 28px;
  left: 116px;
  top: 71px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;

}

.container a:hover {

  color: #887777;

}

